* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: montserrat;
    background-color: black;
    height: 300vh;
}

h1 {
    color: white;
    font-size: 72px;
    font-weight: 600;
    text-align: center;
    padding-top: 40vh;
    text-shadow: 0 0 10px rgba(255, 255, 255, .35);
    z-index: 999;
}  
h1 span {
    color:rgb(204, 67, 67);
}

h4 span {
    color: rgb(204, 67, 67);
}
.wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    color: white;
    font-size: 55px;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(255, 255, 255, .35);
    z-index: 999;
}

.wrapper .static-txt {
   
}
.wrapper .dynamic-txt {
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 42px;
    font-weight: 600;
    margin-left: 15px;
    line-height: 60px;
    height: 60px;  
    overflow: hidden; 
    
    
}

.dynamic-txt li {
    color: white;
    list-style: none;
    font-size: 50px;
    text-decoration: none;
    font-weight: 650;
    color: rgb(204, 67, 67);
    top: 0;
    position: relative;
    animation: slide 9s steps(3) infinite;
   
}

@keyframes slide {
    100%{
      top: -180px;
    }
  }



.dynamic-txt li span{
    position: relative;
    
}
.dynamic-txt li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
}


@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.menu {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.menu .btn a {
    
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    color: rgb(204, 67, 67);
    border-width: 1px;
    border-color: rgb(204, 67, 67);
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;

}
.menu .btn {
    margin-top: 15px;
    margin-left: 0;
    display: inline-block;
}

.menu .btn2 a {
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    color: rgb(204, 67, 67);
    border-width: 1px;
    border-color: rgb(204, 67, 67);
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;

}
.menu .btn2 {
    margin-left: 10vh;
    display: inline-block;
    
}





#bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.arrow {
    top: 90%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 23px;
    height: 23px;
    border-bottom: 5px solid rgb(204, 67, 67);
    border-right: 5px solid rgb(204, 67, 67);
    text-shadow: 0 0 10px rgba(255, 255, 255, .15);
    transform: rotate(45deg);
    margin: -15px;
    animation: scroll 2.5s infinite;
}


.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -.5s;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.about-us {
    color:white;
    padding-top: 5%;
}

.about-us .about h3 {
    margin-top: 5%;
}
.about-us .about p {
    margin-top: 5%;
    color:red;
}
.about {
    margin-left: 2em;
    margin-right: 2em;
}

.about-us .about .damir {
    padding-top: 5%
}
.about-us .about .kristina {
    padding-top: 5%;
}
.about-us .about .kristina p {
    text-align: right;
}
.about-us .about .kristina h3 {
    text-align: right;
}
.our-projects .project1 {
    color: white;
    text-align: left;
}

.our-projects .project2 {
    color: white;
    text-align: right;
}

